body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #485F73; 
    padding: 10px; 
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo-container img {
    width: 50px; 
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    margin-right: 20px;
    color: #333;
  }
  
  main {
    padding: 20px; 
  }
  
  footer {
    background-color: #f1f1f1; 
    padding: 10px;
    text-align: center;
  }
  
  header h1 {
    font-family: "Merriweather", serif;
    color: #f1f1f1;
  }
 
  nav a {
    text-decoration: none;
    margin-right: 20px; 
    color: #f1f1f1; 
  }
  
  nav a:hover {
    text-decoration: underline; 
  }



.circle {
  display: flex;
  position: relative;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.blue {
  background-color: var(--blue-color);
}

.green {
  background-color: var(--green-color);
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: left;
  color: rgb(38, 48, 56);
}

.text {
  flex: 1;
  margin-top: -30px;}

.circle-image {
  max-width: 150px; 
  border-radius: 150px; 
}


:root {
  --blue-color: #A5F26D;
  --green-color: #D9D9D9;
}

.about-us-title {
  font-family: "Merriweather";
  color: black;
  margin-bottom: 10px;
}

.why-recycle-title {
  font-family: "Merriweather";
  color: black;
  margin-bottom: 10px;
}

.why-recycle-text {
  margin-right: 50px;
}

.welcome-banner img {
  width: 100%;
  height: auto;
}

.welcome-banner h1 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 50px;
  font-family: 'Merriweather', serif;
  font-style: italic;
  background-color: #BF8C6F;
  padding: 20px;
  border-radius: 10px;
}

.circle.three {
  background-color: #BF8C6F;
  padding: 20px; 
  border-radius: 10px; 
}

.raising-awareness-title{
  font-family: "Merriweather";
  color: black;
  font-size: 22px;
}

.raising-awareness-text{
  color: #D9D9D9;
}

.circle.four {
  background-color: #485F73;
  padding: 20px; 
  border-radius: 10px; 
}

.the-power-of-recycling-title{
  font-family: "Merriweather";
  color: black;
  font-size: 22px;
}

.the-power-of-recycling-text{
  color: #D9D9D9;
}

.topnav a {
  float: left;
  color: #485F73;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #A5F26D;
  color: white;
}
